* {
  margin: 0;
}
.backgroundImage_Login {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: -1;
}

.card_Login {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Logo_login {
  width: 200px;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.cardInformation_login {
  display: flex;
  flex-direction: column;
  align-items: initial;
  margin-left: 10px;
  margin-right: 10px;
}

.message {
  margin-top: 20px;
  align-self: center;
  color: red;
  font-size: 18px;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #008f82;
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
