*{
    margin: 0;
}
.backgroundImage_Login{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: -1;
}

.card_Login{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Logo_login{
    width: 200px;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.cardInformation_login{
    display: flex;
    flex-direction: column;
    align-items: initial;
    margin-left: 10px;
    margin-right: 10px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #008F82;
    margin-bottom: 5px;
    margin-top: 25px;
}

.input_Login{
    width: 80%;
    min-width: 300px;
    height: 20px;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    color: #969696;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding: 10px;
    outline: none;
    border: 1px solid #008F82;
}

button{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-width: 300px;
    height: 42px;
    padding: 10px;
    margin-top: 35px;
    border: 1px solid #FF9312;
    border-radius: 12px;
    color: #FF9312;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
    background: transparent;
    cursor: pointer;
}

a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #008F82;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}