p {
  margin: 0;
}

.vortex_story_card {
  -webkit-box-shadow: var(--dropShdow);
  box-shadow: var(--dropShdow);
  width: 80%;
  height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  padding: 0 10px;
  align-items: center;
}

.vortex_story_header {
  width: calc(100% - 10px);
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--primaryColor);
}

.vortex_story_header > p {
  margin: 10px 2px 5px 5px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.vortex_story_body {
  width: calc(100% - 10px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.vortex_story_body p {
  color: var(--darkColor);
  font-size: 14px;
}

.vortex_story_body Button {
  font-size: 15px;
  width: 120px;
  height: 20px;
}

.end {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10px;
}

.vortex_story_desc {
  margin: 15px 0 0 0;
}

.vortex_story_sub {
  margin: 20px 0 0 0;
  font-weight: bold;
}

.vortex_story_acc {
  margin: 10px 0 0 20px;
  font-size: 14px;
  color: var(--darkColor);
}

.vortex_story_res {
  margin: 10px 0 0 0;
}

.vortex_story_version {
  text-align: end;
  margin: auto 10px 10px auto;
}
