.vortex_background{
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(103, 103, 103, 0.54);
    position: absolute;
    z-index: 50;
}

.vortex_cardSprint{
    width: 70%;
    height: 400px;
    background-color: #fff;
    border-radius: 18px;
    color: var(--secondaryColor);
    z-index: 51;
}

.vortex_cardSprint_header{
    display: flex;
    padding-top:20px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.vortex_cardSprint_header > h2{
    text-align: center;
    margin-left: 10px;
}

.vortex_cardSprint_date{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    z-index: 1;
}

.vortex_imgLine{
    width: 900px;
    height: 4px;
}

.vortex_imgExit{
    color: var(--primaryColor);
    width: 32px;
    height: 32px;
    position: absolute;
    left: 27px;
    top: 20px;
    cursor: pointer;
}

.vortex_imgSprint{
    width: 32px;
    height: 32px;
}

.vortex_button_save{
    width: 300px;
    margin: 35px;
    margin: 80px auto 0 auto;
}

.vortex_text{
    text-align: center;
    font-size: 18px;
    margin: 20px;
}

.vortex_cardSprint_date > div{
    width: 35%;
}